<div class="container">
  <div class="row">
    <div class="col">
      Create a game
      <img src="../../../assets/learn-how/Gun_Nut_FO4.png" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col">

    </div>

    <div class="col">
      Start game match
      <img src="../../../assets/learn-how/Fo4_Big_Leagues.png" alt="">
    </div>
  </div>


  <div class="row">
    <div class="col">
      Submit game score
      <img src="../../../assets/learn-how/Fo4_Scrounger.png" alt="">
    </div>
  </div>

</div>
