
  <div class="container">
    <div class="row">
      <div class="col-3 bg-white">

        <div class="row">
          <div class="col text-center text-primary font-weight-bold">
            Total rounds: {{this.gameSession.numberOfRounds}}
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            {{this.playerRow.player.name}}
          </div>

          <div class="col text-center">
            {{this.playerColumn.player.name}}
          </div>

        </div>

        <div class="row">
          <div class="col">
            <a  data-toggle="collapse" href="#playerRowTotalPayoff" role="button" aria-expanded="false" aria-controls="collapseExample">
              Total payoff:
            </a>
            {{this.playerRow.totalPayoff}}
          </div>
          <div class="col">
            <a data-toggle="collapse" href="#playerColumnTotalPayoff" role="button" aria-expanded="false" aria-controls="collapseExample">
              Total payoff:
            </a>
            {{this.playerColumn.totalPayoff}}
          </div>
        </div>

        <div class="row">
          <div class="col">

            <a data-toggle="collapse" href="#playerRowStrategiesPlayedChart" role="button" aria-expanded="false" aria-controls="collapseExample">
              Strategies played:
            </a>

            <div *ngFor="let strategy of this.playerRow.player.playableStrategies" class="row">
              <div class="col">
                {{strategy.name}}: {{findPlayedStrategyByStrategyAndPlayerMatch(strategy, this.playerRow).timesPlayed}}
              </div>
            </div>
          </div>
          <div class="col">
            <a data-toggle="collapse" href="#playerColumnStrategiesPlayedChart" role="button" aria-expanded="false" aria-controls="collapseExample">
              Strategies played:
            </a>
            <div *ngFor="let strategy of this.playerColumn.player.playableStrategies" class="row">
              <div class="col">
                {{strategy.name}}: {{findPlayedStrategyByStrategyAndPlayerMatch(strategy, this.playerColumn).timesPlayed}}
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="border border-dark col-8 bg-white">

        <div class="card shadow-lg my-3">
          <div id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{this.gameSession.game.name}}
              </button>
              <fa-icon *ngIf="this.gameSession.game.verificationStatus.name === 'VERIFIED' || this.gameSession.game.verificationStatus.name === 'WILDCARD_VERIFIED'" class="text-success" [icon]="faVerified"></fa-icon>
            </h5>
          </div>

          <div class="collapse" id="collapseOne" aria-labelledby="headingOne">
            <div class="container">
              <div class="row">
                <a href="{{this.gameSession.game.externalInfo}}">Get external info here</a>
              </div>
              <hr>
              <div class="row">
                <p>{{this.gameSession.game.description}}</p>
              </div>
              <hr>
              <p>Made by: </p>
              <app-user-view *ngIf="this.gameSession.game.creator.id !== this.loggedUser.id; else usersGame" [username]="this.gameSession.game.creator.username"></app-user-view>
              <ng-template #usersGame><p class="text-primary">You</p></ng-template>
            </div>
          </div>


        </div>

        <div class="container card shadow-lg m-2">
          <p class="text-center">{{this.playerColumn.player.name}}</p>
          <div class="row d-flex flex-row">
            <div class="col-lg-1 align-self-center vertical-text"><p>{{this.playerRow.player.name}}</p></div>
            <div class="col-lg-11">
              <table class="table">
                <tbody>
                <tr>
                  <th>#</th>
                  <td class="text-center" *ngFor="let strategyColumnRead of this.playerColumn.player.playableStrategies;index as i">
                    <button disabled  type="button" class="btn btn-primary">{{strategyColumnRead.name}}</button>
                  </td>
                </tr>
                <tr *ngFor="let strategyRow of this.playerRow.player.playableStrategies; index as i">
                  <th>
                    <button type="button" class="btn btn-primary" (click)="onStrategyButtonClick(strategyRow)">{{strategyRow.name}}</button>
                  </th>

                  <td *ngFor="let strategyColumn of this.playerColumn.player.playableStrategies; index as j">
                    <div class="container">
                      <div class="row">
                        (
                        <div class="col-5">
                          {{this.getPlayerRowPayoffAmount(strategyRow, strategyColumn)}}
                        </div>
                        ,
                        <div class="col-5">
                          {{this.getPlayerColumnPayoffAmount(strategyColumn, strategyRow)}}
                        </div>
                        )
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <p class="text-primary">Selected strategy: <span [@fadeInRight] = "fadeInRight ? 'one' : 'two'"  >{{this.playerRow.selectedStrategy.name}}</span></p>
          </div>


          <div class="row d-flex align-content-start flex-wrap">
            <button type="button" (click)="this.onMove()" class="btn btn-primary m-3">Move</button>
            <button type="button" class="btn btn-outline-primary m-3" (click)="this.onAdvice()" style="margin: 0px 5px">Advice</button>
            <button class="btn btn-outline-primary m-3" (click)="onSaveSession()">Save session</button>
          </div>


        </div>

      </div>
    </div>

    <div class="container" id="analyticsGroup">
      Visual
      <div class="collapse" id="playerColumnTotalPayoff" data-parent="#analyticsGroup">
        <div id="chartContainerPlayerColumn"></div>
      </div>
      <div class="collapse" id="playerColumnStrategiesPlayedChart" data-parent="#analyticsGroup">
        <div id="chartStrategiesPlayerColumn"></div>
      </div>

      <div class="collapse" id="playerRowStrategiesPlayedChart" data-parent="#analyticsGroup">
        <div id="chartStrategiesPlayerRow"></div>
      </div>
      <div class="collapse" id="playerRowTotalPayoff" data-parent="#analyticsGroup">
        <div id="chartContainerPlayerRow"></div>
      </div>

    </div>

  </div>





















