
  <div>
    <div class="modal-header">
      <div class="modal-title">
        <h2>Game analyzer</h2>
      </div>
    </div>

    <div class="modal-body">
      <h3>You are about to save the game session.</h3>
      <p *ngIf="this.isNewGameSession">The session you are saving already exists Do you want to overwrite it or save as new?.</p>

    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="onCancelClick()" >Cancel</button>
      <button class="btn btn-secondary" (click)="onSaveClick()"  >Save <span *ngIf="this.isNewGameSession">as new</span></button>
      <button class="btn btn-primary" (click)="onOverwriteExistingClick()" *ngIf="this.isNewGameSession"  >Overwrite existing</button>
    </div>
  </div>






