<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">ExternalInfo</th>
      <th scope="col">Description</th>
      <th scope="col">Created by</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let game of games; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{game.name}}</td>
          <td><a href="{{game.externalInfo}}">{{game.externalInfo}}</a></td>
          <td>{{game.description}}</td>
          <td><a class="text-primary" href="#">{{game.creatorUsername}}</a></td>
      </tr>
  </tbody>

</table>
