.main-content{
  background-image: url("../../../assets/homePicture.jpg");
  height: 1080px;
}
.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0;
}

.card{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,66,121,0) 0%, rgba(0,212,255,1) 85%);
  overflow: hidden;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 15px;
}

h1{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

p{

}
