
  <app-menu *ngIf="!isLoginComponent"></app-menu>

  <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>

  <article class="bg-secondary mb-3">
    <div class="card-body text-center">
      <h3 class="text-white mt-3">Game analyzer team</h3>
      <p class="h5 text-white">For more fun and analyzing  <br> Visit Lichess - a free, full featured site for chess playing and analyzing with one of the wolds top opensource chess engine.</p>   <br>
      <p><a class="btn btn-success" target="_blank" href="https://lichess.org/"> lichess.com
        <i><fa-icon [icon]="faChess"></fa-icon></i></a></p>
    </div>
    <br><br>
  </article>


  <notifier-container></notifier-container>
