
<body>


<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-5 col-md-4 text-center">
        <form #loginFormElement = "ngForm" (ngSubmit)="onLoginSubmit(loginFormElement.value)">
        <div class="form-login"><br>
          <h4>Secure Login</h4>
          <br>
          <input type="text"  ngModel name="username" id="userName" class="form-control input-sm chat-input" placeholder="username"/>
          <br><br>
          <input type="password" ngModel name="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password"/>
          <br><br>
          <div class="row">
            <div class="wrapper col-5">
                    <button type="submit" class="btn btn-primary">login <i><fa-icon [icon]="signInIcon"></fa-icon></i></button>
            </div>
            <div class="wrapper col-7">
                        <span class="group-btn">
                            <a class="btn btn-primary btn-md" routerLink="/register">Register <i><fa-icon [icon]="registerIcon"></fa-icon></i></a>
                        </span>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
    <br><br><br>
    <!--footer-->
    <!--//footer-->
  </div>
</div>
<!-- Page Content -->


</body>


