/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~angular-notifier/styles";

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(90deg, rgba(238,174,202,1) 3%, rgba(139,178,224,1) 69%);}
footer{
}
.bg-med{
  background: linear-gradient(90deg, rgba(238,174,202,1) 3%, rgba(139,178,224,1) 69%);
}
